 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
    background-color: white;
    font-family:'IM Fell English SC', serif;
    color: black;
    margin: 50px;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    
}
.cover-page{
    border: 5px solid black;
    background-color: #343335;
    width: 450px;
     height: 95vh ;
    display:flex;
    flex-direction: column;
    justify-content:  space-between;
    text-align: center;
    padding-bottom: 300px;
    position: relative;
    align-items: center;
     margin-bottom: 90px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

.page{
     border: 10px solid black;
    background-color:#272628;
    width: 450px;
     height: 95vh ;
    display:flex;
    flex-direction: column;
    justify-content:  space-between;
    text-align: center;
    padding-bottom: 300px;
    position: relative;
    align-items: center;
     margin-bottom: 90px;
    color: white;
}
.page h1{
  padding-top: 15;
}
.page h2{
    padding-top: 10px;
}





.author {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;

}
.author-page1{
  padding-left: 115px;
  color: #fff;
  font-size: 50px;

}



.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: white;
    background-color: black;
    padding: 8px 18px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.next{
    right: 0px;
}
.prev{
    left: 10px;
}



.disclaimer h2 {
  font-size: 28px;
  margin-top: 30px;
  font-weight: bold;
  color: white; 
}

.content-page p {
  font-size: 18px;
  margin-top: 65px;
  line-height: 2.0;
  color: white;
  padding: 0 20px;
  
}
.content p{
    max-height: 79vh;
    overflow: auto;
   scrollbar-width: none;   
   font-size: medium;  
   padding-top: 30px;
   margin-top: 25px;
   padding: 0 20px;
   text-align: justify;

  
}
.content h4{
    padding-top: 40px;
}
.author-page4 {
  position: absolute;
  padding-bottom: 2px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-left: 120px;
  color: #fff;

}
.author-page2{
  padding-left: 200px;

}
.final-page1 {
  padding-top: 180px;
}
.final-page1 h4 {
  padding-top: 150px;
  font-size: larger;

}
.author-page9{
  padding-left: 200px;
}
.content-final {
    max-height: 80vh;
   scrollbar-width: none;   
   font-size: medium;  
   padding-top: 200px;
   margin-top: 25px;
   padding: 0 20px;
  line-height: 2.1;
  text-align: justify;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.content-final h2{
  padding-left: 50px;
  bottom: 60px;
}
.author-page10{
  padding-left: 100px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
